
*.vsidx
SeleniumTests/.vs/SeleniumTests/v17/.suo
SeleniumTests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SeleniumTests/.vs/SeleniumTests/v17/DocumentLayout.backup.json
SeleniumTests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
SeleniumTests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SeleniumTests/bin/Debug/net8.0/cs/Microsoft.Testing.Platform.resources.dll
SeleniumTests/bin/Debug/net8.0/cs/Microsoft.Testing.Platform.MSBuild.resources.dll
SeleniumTests/bin/Debug/net8.0/cs/Microsoft.Testing.Extensions.VSTestBridge.resources.dll
SeleniumTests/bin/Debug/net8.0/cs/Microsoft.Testing.Extensions.TrxReport.resources.dll
SeleniumTests/bin/Debug/net8.0/cs/Microsoft.Testing.Extensions.Telemetry.resources.dll
SeleniumTests/bin/Debug/net8.0/cs/Microsoft.Testing.Extensions.CodeCoverage.resources.dll
SeleniumTests/.vs/SeleniumTests/v17/DocumentLayout.json
SeleniumTests/bin/Debug/net8.0/de/Microsoft.Testing.Extensions.Telemetry.resources.dll
SeleniumTests/bin/Debug/net8.0/de/Microsoft.Testing.Extensions.TrxReport.resources.dll
SeleniumTests/bin/Debug/net8.0/de/Microsoft.Testing.Extensions.VSTestBridge.resources.dll
SeleniumTests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
SeleniumTests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SeleniumTests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SeleniumTests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SeleniumTests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
SeleniumTests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SeleniumTests/bin/Debug/net8.0/de/Microsoft.Testing.Platform.resources.dll
SeleniumTests/bin/Debug/net8.0/de/Microsoft.Testing.Platform.MSBuild.resources.dll
SeleniumTests/bin/Debug/net8.0/de/Microsoft.Testing.Extensions.CodeCoverage.resources.dll
SeleniumTests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SeleniumTests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SeleniumTests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
*.dll
SeleniumTests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
SeleniumTests/obj/Debug/net8.0/AutoRegisteredExtensions.cs
SeleniumTests/obj/Debug/net8.0/apphost.exe
SeleniumTests/obj/Debug/net8.0/Selenium.65C3BE7E.Up2Date
SeleniumTests/obj/Debug/net8.0/SeleniumTests.AssemblyInfo.cs
SeleniumTests/obj/Debug/net8.0/SeleniumTests.assets.cache
SeleniumTests/obj/Debug/net8.0/SeleniumTests.AssemblyInfoInputs.cache
SeleniumTests/obj/Debug/net8.0/SeleniumTests.csproj.AssemblyReference.cache
SeleniumTests/obj/Debug/net8.0/SeleniumTests.csproj.CoreCompileInputs.cache
SeleniumTests/obj/Debug/net8.0/SeleniumTests.csproj.FileListAbsolute.txt
SeleniumTests/obj/Debug/net8.0/SeleniumTests.genautoregisteredextensionsinputcache.cache
SeleniumTests/obj/Debug/net8.0/SeleniumTests.GeneratedMSBuildEditorConfig.editorconfig
SeleniumTests/obj/Debug/net8.0/SeleniumTests.genruntimeconfig.cache
SeleniumTests/obj/Debug/net8.0/SeleniumTests.gentestingplatformentrypointinputcache.cache
SeleniumTests/obj/Debug/net8.0/SeleniumTests.GlobalUsings.g.cs
SeleniumTests/obj/Debug/net8.0/SeleniumTests.pdb
SeleniumTests/obj/Debug/net8.0/TestPlatformEntryPoint.cs
SeleniumTests/obj/project.assets.json
SeleniumTests/obj/project.nuget.cache
SeleniumTests/obj/SeleniumTests.csproj.nuget.dgspec.json
SeleniumTests/obj/SeleniumTests.csproj.nuget.g.props
*.dylib
SeleniumTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
SeleniumTests/bin/Debug/net8.0/runtimes/linux-musl-x64/native/Cov_x64.config
SeleniumTests/bin/Debug/net8.0/runtimes/linux-musl-x64/native/libCoverageInstrumentationMethod.so
SeleniumTests/bin/Debug/net8.0/runtimes/linux-musl-x64/native/libInstrumentationEngine.so
SeleniumTests/bin/Debug/net8.0/runtimes/linux-x64/native/Cov_x64.config
SeleniumTests/bin/Debug/net8.0/runtimes/linux-x64/native/libCoverageInstrumentationMethod.so
SeleniumTests/bin/Debug/net8.0/runtimes/linux-x64/native/libInstrumentationEngine.so
SeleniumTests/bin/Debug/net8.0/runtimes/osx-x64/native/Cov_x64.config
SeleniumTests/bin/Debug/net8.0/runtimes/win-arm64/native/Cov_arm64.config
SeleniumTests/bin/Debug/net8.0/runtimes/win-arm64/native/Cov_x64.config
SeleniumTests/bin/Debug/net8.0/runtimes/win-arm64/native/Cov_x86.config
SeleniumTests/bin/Debug/net8.0/runtimes/win-x64/native/Cov_arm64.config
SeleniumTests/bin/Debug/net8.0/runtimes/win-x64/native/Cov_x64.config
SeleniumTests/bin/Debug/net8.0/runtimes/win-x64/native/Cov_x86.config
SeleniumTests/bin/Debug/net8.0/runtimes/win-x86/native/Cov_arm64.config
SeleniumTests/bin/Debug/net8.0/runtimes/win-x86/native/Cov_x64.config
SeleniumTests/bin/Debug/net8.0/runtimes/win-x86/native/Cov_x86.config
SeleniumTests/bin/Debug/net8.0/selenium-manager/linux/selenium-manager
SeleniumTests/bin/Debug/net8.0/selenium-manager/macos/selenium-manager
SeleniumTests/bin/Debug/net8.0/selenium-manager/windows/selenium-manager.exe
SeleniumTests/bin/Debug/net8.0/SeleniumTests.deps.json
SeleniumTests/bin/Debug/net8.0/SeleniumTests.dll.config
SeleniumTests/bin/Debug/net8.0/SeleniumTests.exe
SeleniumTests/bin/Debug/net8.0/SeleniumTests.pdb
SeleniumTests/bin/Debug/net8.0/SeleniumTests.runtimeconfig.json
SeleniumTests/bin/Debug/net8.0/testhost.exe
SeleniumTests/obj/SeleniumTests.csproj.nuget.g.targets
SeleniumTests/obj/Debug/net8.0/SeleniumTests.csproj.BuildWithSkipAnalyzers
