<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    <!--
      Drivers:
      Chrome
	  Edge
      Firefox
    -->
    <add key="DriverToUse" value="Chrome"/>
    <add key="Username" value="sample@gmail.com"/>
	<add key="Password" value="wow_so_secure"/>
  </appSettings>
</configuration>